@import "tailwindcss";
@import "tw-animate-css";

@layer components {
  /* Define a custom, reusable component class */
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .btn-primary1 {
    @apply inline-block px-6 py-2 text-sm font-medium text-white
           bg-blue-600 rounded-md hover:bg-blue-700 
           transition-colors duration-200 shadow-md;
  }

  .btn-primary {@apply bg-green-800 text-white py-2.5 px-6 rounded-md 
    font-semibold hover:bg-green-600 transition-colors }
/* whilst form is being uploaded */
  .btn-loading {@apply opacity-50 cursor-not-allowed }  
  /* Define a custom class for page containers/layouts */
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .inputClass {@apply
    w-full border border-black rounded-lg px-2 py-2.5 text-sm bg-white 
    focus:outline-none focus:ring-2 focus:ring-green-400 
    focus:border-green-400 transition-all;
  }

  .labelClass {@apply block text-sm font-semibold text-gray-700 mb-0.5}

  .btn-clear {
    @apply flex-1 border-2 border-gray-300 text-gray-700 px-6 py-3 rounded-lg font-semibold hover:border-gray-400 hover:bg-gray-50 transition-all disabled:opacity-50 disabled:cursor-not-allowed
  }

  .btn-clear01 {
    @apply px-4 py-2 bg-blue-400 border border-gray-300 text-white 
           rounded-md shadow-sm transition-all duration-200
           hover:bg-blue-500 active:scale-95 focus:outline-none 
           focus:ring-2 focus:ring-blue-500 disabled:opacity-50;
  }
  .btn-save {
    @apply flex-1 bg-linear-to-r from-green-600 to-green-700 text-white 
      px-2 py-1 rounded-lg font-semibold 
      hover:from-green-700 hover:to-green-800 transform 
      hover:scale-[1.02] transition-all shadow-md 
      disabled:opacity-50 disabled:cursor-not-allowed
  }
}